 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.txt-clr-b{
    color: rgba(0, 0, 0, 1) ;
}
.txt-clr-o{
    color: rgba(233, 90, 8, 1);
}
.text-des{
    color: rgba(0, 0, 0, 0.5);
}

/* navbar styles */
.navber{
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.nav-item{
    list-style: none;
    margin-right: 48px;
    
}
.navber{
    max-width: 1500px;
    margin: 0 auto;
}
/* banner style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 120px;
    height: 461px;
    align-items: end;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-des{
    font-weight: 400;
    font-size: 1.4rem;
}
.banner-img{
    width: 100%;
}
/* our plant style */
.our-plant{
    margin-top: 120px;
}
.our-plant-container{
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
}
.our-plant-title{
    font-weight: bold;
    font-size: 3rem;
}
.our-plant-des{
    font-weight: 400;
    font-size: 1.25rem;
}
.card{
    box-shadow: 0 4px 4px #000000;
    overflow: hidden;
    width: 100%;
}
.card-body{
    
    text-align: center;

}
.card-img{
    width: 100%;
}
.our-plant-cards{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}
.btn-primary{
    width: 350px;
    background:rgba(233, 90, 8, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    padding: 19px 80px;

}
/* plants lovers styles */
.plants-lover-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 210px;
    gap: 60px;
}
.plnt-lvr-contant{
    width: 900px;
}
.plnt-lvr-img{
    flex-direction: row;
}
.plnt-img{
    width: 100%;
}
.plnt-lvr-title{
    font-weight: bold;
    font-size: 3rem;
    color: rgba(0, 0, 0, 1);
}
.lists{
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.list-item{
    padding: 20px;
}
#badge{
    width:286px ;
    height: 286px;
    margin-left: -180px;
    margin-top: -150px;
}

/* leatest deals styles */
.deals-container{
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.deals-title{
    font-weight: bold;
    font-size: 3rem;
}
.deals-des{
    font-weight: 400;
    font-size: 1.25rem;
}
.deals-card{
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;
    
} 
.deals-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.deals-card > div{
    flex: 1;
}
.vertical img{
    height:((100%-20px)/2);
}
.deals-item{
    position: relative;
}

.deal-wrt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.deal-wrt > .gap{
    margin-right: 20px;
}

.shop{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 
.shop a{
    color: white;
}

 /*join style  */

.bg-img{
    background-image: url(../assets/news-letter-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    
}
.join-sec{
    max-width: 100%;
    height: 553px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    
} 
.join-title{
    font-weight: bold;
    font-size: 3rem;
    color: white;
}
#email-field{
    padding: 20px;
    width: 830px;
}
#button-field{
    padding: 20px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    width: 186px;
}  
/* footer style */
.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-sec{
    width: 400px;
    
}
.foot-des{
    font-weight: 400;
    font-size: 20px;
}
.column{
    margin-left: 180px;
}
.social-icons{
    margin-left:180px ;
}
.col-list li{
    list-style: none;
    margin-bottom: 20px;
}
.col-list li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: #6B7280;
}
.social-icons img{
    margin-right: 10px;
}


/* responsive media query */
@media screen and (max-width: 576px) {

    .navber{
        flex-direction: row;
        align-items: center;
    }
    #item-1, #item-2, #item-3, #badge{
        display: none;
    }
    
    #show-link{
        font-weight: 400;
        font-size: 1.25rem;
    }
    .plants-lover-container{
        flex-direction: column;
        margin-bottom: 120px;
    }
    .lists{
        width: 400px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 300px;  
    }
    .our-plant-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-primary{
    padding-left: 0px;
    
    }
    .deals-card{
        /* display: none; */
        flex-direction: column;
    }
    .join-title{
        font-weight: 600;
        font-size: 1.5rem;
    }
    #email-field{
        width: 200px;
        padding: 10px;
    }
    #button-field{
        width: 80px;
        padding: 10px;
    }
    .footer-container, .footer-links{
        flex-direction: column;
    }
    .column{
        margin-left: 0px;
    }
    .social-icons{
        margin-left: 5px;
    }
    .footer-sec{
        width: 300px;
    } 

}


